body {
  font-size: 15px;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
}

header {
  width: auto;
  height: 100px;
  background-image: url("../img/banner-background.png");
  background-size: cover;
}

.submenu {
  height: 60px;
}

.content,
.submenu {
  margin: 0 10%;
  background-color: white;
}

.navbar-header {
  margin: 0px 0px 20px 0px;
  box-shadow: 7px 5px 5px black;
}

.navbar-header > nav {
  background-color: #28a745;
}

a.nav-link {
  /* color: #17a2b8; */
  color: rgba(255, 255, 255, 0.9);
}

/* .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;*/
/* width: 100%; */
/* border: none; */
/* text-align: left; */
/* outline: none; */
/* font-size: 14px; */
/* }  */

#criar-filtro-btn {
  position: relative;
  float: right;
  margin-right: 20px;
  font-size: 14px;
  /* color: white; */
}

.questao-row {
  display: block;
  margin-bottom: 40px;
}

.questao-header {
  background-color: lightgrey;
  height: 35px;
  font-size: 12px;
  vertical-align: middle;
}

.questao-detalhes {
  font-size: 12px;
  margin-bottom: 2em;
}

.alternativas-row {
  margin-left: 2%;
  margin-bottom: 40px;
}

.codigo-questao {
  font-size: large;
  color: #382727;
  margin-right: 100px;
}

.questao-barra-inferior {
  border-bottom: gray;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  margin-top: 5px;
  /* height: 30px; */
}

.questao-barra-inferior-tab {
  margin-right: 20px;
  font-size: small;
}

footer {
  background-image: url("../img/banner-background.png");
  height: 50px;
  width: auto;
}

#collapseFiltro {
  margin: 10px 10%;
}

/* .comentarios-modal-dialog {
    margin-left: auto;
    margin-right: auto;
    width: 75em;
    max-width: none;
  }
   */

.comentario-box {
  /* background-color: #e5e5e5; */
  /* border-radius: 0;
    height: 200px;
    padding: 5px 10px;
    margin-bottom: 4px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    border-radius: 7px;
    position: relative;
    display: flex; */
  padding-left: 15px;
  padding-right: 15px;
  align-items: strecht;
  border: 0 solid black;
  border-bottom: 1px solid rgba(211, 211, 211, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 0px;
  min-width: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  flex-basis: auto;
  position: relative;
  z-index: 0;
  flex-direction: row;
}

.comentario-box:hover {
  /* background-color: rgb(213, 225, 241); */
  /* background-color: rgb(238, 241, 245); */

  background-color: rgb(225, 232, 241);
}

.media {
  display: flex;
  flex-direction: row;
}

.comentario-perfil {
  border: 0 solid black;
  box-sizing: border-box;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 87px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  z-index: 0;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15px;
}

.comentario-perfil.p {
  font: size 13px;
}

.no-margin-top {
  margin-top: 0px;
}

img.rounded-circle {
  width: 70px;
}

.data-publicao {
  font-style: italic;
  font-size: 11px;
  color: gray;
  margin-top: 8px;
  margin-bottom: 15px;
}

.media-interacao {
  /* background-color: #333; */
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: row;
}
/* 
.like-btn {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
} */

.media-interacao-item {
  font-size: 11px;
  text-align: center;
}

.like-link {
  /* color: blue; */
  margin-left: 0.5rem;
}

.modal-content {
  padding: 8px;
}

.modal-body {
    border-bottom: 4px solid rgba(211, 211, 211, 0.4);
    background-color: #eceff3;
}

._2i7Ej {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  min-height: 62px;
  position: relative;
  z-index: 2;
}

._14Mgc {
  visibility: visible;
  /* background-color: #eceff3; */
}

.copyable-area {
  user-select: text;
}

._13mgZ {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 21px;
  padding: 9px 12px 11px;
  margin: 15px 10px;
  box-sizing: border-box;
  flex: 1 1 auto;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  min-height: 20px;
  min-width: 0;
  outline: none;
  width: inherit;
  will-change: width;
}

._3FeAD {
  width: 95%;
  cursor: text;
  padding-right: 0;
  position: relative;
  flex: 1;
  display: flex;
  overflow: hidden;
  min-height: 40px;
}

._3FeAD .wjdTm {
  color: #999;
  font-size: 15px;
  line-height: 20px;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.08s linear;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
}

._3FeAD ._1PRhq ._3u328 {
  font-size: 15px;
  font-weight: 400;
  max-height: 100px;
  min-height: 20px;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
  z-index: 1;
}

.container-flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.publicar-btn {
  float: right;
  /* display: none; */
}

/*Ajusta o tamanho do pop-up de comentarios*/
@media (min-width: 1200px) .modal-xl {
  max-width: 1200px;
}

.icon-16x16 {
  width: 16px;
  height: 16px;
}

.barra-inferior-novo-comentario {
  max-height: 30px;
  margin-top: 2px;
}

.modify-text-btn {
  opacity: 0.7;
  margin: 0 4px;
  display: none;
}

